body {
  background: url(images/background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
}

.playerStatsSection {
  background-color: #E5E5E6;
  opacity: .85;
  width: 100%;
}

.storeItemList li {
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
}

.card-heading {
  margin-bottom: 0px;
  margin-top: 3px;
  text-decoration: underline;
}

.md-subhead {
  font-size: 14px;
}

.highScore {
  text-align: center;
}

.battleLogSection {
  background-color: #E5E5E6;
  opacity: .85;
  width: 100%;
}

.eachLog {
  background-color: white;
}

.attack-button {
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: red;
  visibility: hidden;
}

.health {
  color: red;
}

.resource {
  color: blue;
}

.map-card {
  max-width: 450px;
  background-color: #E5E5E6;
  opacity: .85;
}

.gold {
  color: #FFBA55;
  font-weight: bold;
}

.md-fab {
  background-color: #A2D7BB;
  color: white;
  line-height: 20px !important;
  width: 25px !important;
  height: 20px !important;
  margin-top: 15px;
}

.map {
  width: 100%;
}

.start-battle-button {
  min-width: 150px;
  height: 60px;
  padding: 5px;
  background-color: red;
}

.inBattle {
  visibility: hidden;
}

.enemy-stat {
  margin: 2px;
  padding: 0;
}

.enemy-stats-bar {
  margin-bottom: 7px;
}

.skillInvisible {
  visibility: hidden;
}

.inventory-button {
  background-color: #A2D7BB;
}

.md-button {
  min-width: 40px;
  line-height: 28px;
  min-height: 25px;
}

.buy-button {
  padding: 0px;
  margin: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #A2D7BB
}

.playerBag {
  min-width: 200px;
  background-color: #E5E5E6;
  opacity: .85;
}

.blacksmithBag {
  min-width: 410px;
  max-height: 378px;
  background-color: #E5E5E6;
  opacity: .85;
}

.cheatCodes {
  opacity: .2;
}

.toast-message {
  color: white !important;
  /* background-color: #43a047; */
  background-color: #e53935;
  top: 0;
  padding: 25px;
  border-radius: 10px;
  float: right;
  right: 0;
  position: fixed;
  margin-left: 10px;
  margin-top: 30px;
}

.toast-success {
  color: white !important;
  background-color: #43a047;
  top: 0;
  padding: 25px;
  border-radius: 10px;
  right: 15px;
  position: fixed;
  margin-right: 15px;
  margin-top: 10px;
}
